<html xmlns="http://www.w3.org/1999/xhtml" class="wf-fontawesome-n4-active wf-active">

<head>
    <title>
        Part 107 Certification
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700" rel="stylesheet" type="text/css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script src="https://use.fontawesome.com/webfontloader/1.6.24/webfontloader.js"></script>
    <script src="https://use.fontawesome.com/3b44f61366.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/3b44f61366.css" media="all">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/javascripts/main.js"></script>

    <script type="text/javascript">
        var _titleStr = "Training Library";
        var selectedButton = "library";
    </script>


</head>


<body>

    <div id="sidebar">
        <div class="toggle-btn" onclick="toggleSidebar()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>
            <li class="sidebar-brand" style="font-size: 28px;">107 Training</li>
            <li style="font-size:20px;" id="name" aria-haspopup="true" aria-expanded="false">
            </li>
            <li>
                <a href="/main">Home</a>
            </li>
            <li>
                <a href="https://ptsmap.herokuapp.com/">Mappix</a>
            </li>
             <li>
                <a href="/account">Account Settings</a>
            </li>
            <li>
                <a href="/logout">Log Out</a>
            </li>
        </ul>
    </div>


    <!--    <div class="container">-->
    <!--        &lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
    <!--        <div id="bs-example-navbar-collapse-1">-->
    <!--            <ul class="nav navbar-nav navbar-right" style="margin-right:7px;">-->
    <!--                <span style="display:inline-block;">-->
    <!--                    <li class="dropdown">-->
    <!--                        <br>-->
    <!--                        <text style="font-size:22px;" id="menu" aria-haspopup="true" aria-expanded="false">-->
    <!--                        </text>-->
    <!--                    </li>-->

    <!--                    <li role="separator" class="divider"></li>-->
    <!--                </span>-->
    <!--            </ul>-->
    <!--        </div>-->
    <!--    </div>-->



    
    <div style="padding-top:65px" >
        <table id="premiumFeaturesTable" align="center">

            <tbody>
                <tr>
                    <td>
                        <a href="/drone_report_card">
                            <div class="premiumFeature" id="viewProgress">
                                <h3 class="premiumHeader">View My Progress</h3>
                            </div>
                        </a>
                    </td>

                    <td>
                        <a href="/custom_exam">
                            <div class="premiumFeature" id="customExam">
                                <h3 class="premiumHeader">Custom Exam</h3>
                            </div>
                        </a>
                    </td>

                    <td>
                        <a href="/quiz/title=Practice_Exam">
                            <div class="premiumFeature" id="practiceExam">
                                <h3 class="premiumHeader">Practice Exam</h3>
                            </div>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container">
        <table width="100%" class="librarytable">
            <tbody>
                <tr>
                    <td align="center">
                        <a href="/quiz_regulations">FAA Regulations
                            <br>
                            <br>
                            <img class="img-rounded" src="images/0_Regulations.png" width="320" height="275"
                                alt="Airspace">
    </div>
    </a>
    <br>
    <br>
    </td>

    <td align="center">
        <a href="/quiz_airspace"> Airspace
            <br>
            <br>
            <img class="img-rounded" src="images/1_Airspace.PNG" width="320" height="275" alt="Airspace">
        </a>
        <br>
        <br>
    </td>
    </tr>

    <tr>

        <td align="center">
            <a href="/quiz_airport_operations"> Airport Operations
                <br>
                <br>
                <img class="img-rounded" src="images/2_AirportOperations.png" width="320" height="275"
                    alt="Airport Operations">
            </a>
            <br>
            <br>
        </td>

        <td align="center">
            <a href="/quiz_loading_and_performance"> Loading and Performance
                <br>
                <br>
                <img class="img-rounded" src="images/3_LoadingAndPerformance.png" width="320" height="275"
                    alt="Loading and Performance">
            </a>
            <br>
            <br>
        </td>

    </tr>

    <tr>

        <td align="center">
            <a href="/quiz_weather_part1"> Weather Part 1
                <br>
                <br>
                <img class="img-rounded" src="images/4a_Weather1.PNG" width="320" height="275" alt="Weather Part 1">
            </a>
            <br>
            <br>

        </td>

        <td align="center">
            <a href="/quiz_weather_part2"> Weather Part 2
                <br>
                <br>
                <img class="img-rounded" src="images/4b_Weather2.PNG" width="320" height="275" alt="Weather Part 2">
            </a>
            <br>
            <br>

        </td>

    </tr>

    <tr>

        <td align="center">
            <a href="/quiz_aviation_weather_services"> Aviation Weather Services
                <br>
                <br>
                <img class="img-rounded" src="images/5_WeatherServices.png" width="320" height="275"
                    alt="Aviation Weather Services">
            </a>
            <br>
            <br>
        </td>

        <td align="center">
            <a href="/quiz_aeronautical_decision_making"> Aeronautical Decision Making
                <br>
                <br>
                <img class="img-rounded" src="images/6_AeronauticalDecisionMaking.png" width="320" height="275"
                    alt="Aeronautical Decision Making">
            </a>
            <br>
            <br>

        </td>

    </tr>

    <tr>

        <td align="center">
            <a href="/quiz_physiological_factors"> Physiological Factors
                <br>
                <br>
                <img class="img-rounded" src="images/7_PhysiologicalFactors.png" width="320" height="275"
                    alt="Physiological Factors">
            </a>
            <br>
            <br>

        </td>

    </tr>
    </tbody>
    </table>
    </div>
    <br>

    <script>
        document.getElementById("name").innerHTML = getCookie2("name");

        function getCookie2(variable) {
            var query = document.cookie;
            var vars = query.split(";");
            for (var i = 0; i < vars.length; i++) {
                vars[i] = vars[i].trim();
                var pair = vars[i].split("=");
                if (pair[0] == variable) {
                    if (pair[1].includes("?")) {
                        var pair1 = pair[1].split("?");
                        return pair1[0];
                    }
                    return pair[1];
                }
            }
            return (false);
        }
    </script>

</body>

</html>