<html>

<head>
  <title>PTS | New Password</title>

  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700" rel="stylesheet" type="text/css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">


  <script src="https://use.fontawesome.com/webfontloader/1.6.24/webfontloader.js"></script>
  <script src="https://use.fontawesome.com/3b44f61366.js"></script>

  <link rel="stylesheet" href="/style.css">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/3b44f61366.css" media="all">
  <script type="text/javascript" src="/~yli/js/main.js"></script>
  <script type="text/javascript">
    var _titleStr = "PTS | RESET PASSWORD";
  </script>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/quiz.css">
  <style type="text/css">
    form {
      font-size: 20px;
      margin: auto;
      width: 50%;
    }
  </style>
</head>

<body>
  <br>
  <br>
  <br>
  <br>
  <br>
  <form method="POST" action="/users/forgot_password">
    <div class="form-group">
      <label for="email"> Enter your email address: </label>
      <input type="text" name="email" class="form-control" id="email" size="30">
    </div>
    <input type="submit" value="Reset your password" class="btn btn-default">
  </form>
</body>

</html>