<html>

<head>
  <title>PTS | New Password</title>

  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700" rel="stylesheet" type="text/css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">


  <script src="https://use.fontawesome.com/webfontloader/1.6.24/webfontloader.js"></script>
  <script src="https://use.fontawesome.com/3b44f61366.js"></script>

  <link rel="stylesheet" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/3b44f61366.css" media="all">
  <script type="text/javascript" src="/~yli/js/main.js"></script>
  <script type="text/javascript">
    var _titleStr = "PTS | RESET PASSWORD";
  </script>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/quiz.css">
  <style type="text/css">
    form {
      font-size: 20px;
      margin: auto;
      width: 50%;
    }
  </style>
</head>

<body>
  <br>
  <br>
  <br>
  <br>
  <br>
  <form method="POST" action="/users/reset_password">
    <div class="form-group">
      <label for="password"> Enter new password</label>
      <input type="password" name="password" onkeyup='check();' class="form-control" id="password" size="30">
    </div>
    <div class="form-group">
      <label for="confirm_password">Confirm password</label>
      <input type="password" name="confirm_password" onkeyup='check();' class="form-control" id="confirm_password" size="30">
    </div>
    <span class="error_text" id='message'></span>
    <input type="submit" value="Done" class="btn btn-default">
  </form>

  <script>

    $(document).ready(function () {

      // process the form
      $('form').submit(function (event) {

        event.preventDefault();

        var formData = {
          "password": document.getElementById("confirm_password").value,
          "email": getCookie2("email"),
          'token':getQueryVariable("token")
        }

        $.ajax({
          type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
          url: '/users/reset_password', // the url where we want to POST
          dataType: 'json',// what type of data do we expect back from the server
          encode: true,
          data: formData,
          success: function (data) {
            alert("Your password was reset");
            location.href = "/users/login";
          },
          error: function (jqXHR, textStatus, errorThrown) {
            alert(jqXHR.responseText);
          }
        });


      });
    });

    var check = function () {
      if (document.getElementById('password_confirmation').value != "") {
        if (document.getElementById('password').value ==
          document.getElementById('password_confirmation').value) {
          document.getElementById('message').innerHTML = '';
        } else {
          document.getElementById('message').style.color = 'red';
          document.getElementById('message').innerHTML = '\u2002Passwords do not match.';
        }
      }
    }

    function getCookie2(variable) {
      var query = document.cookie;
      var vars = query.split(";");
      for (var i = 0; i < vars.length; i++) {
        vars[i] = vars[i].trim();
        var pair = vars[i].split("=");
        if (pair[0] == variable) {
          if (pair[1].includes("?")) {
            var pair1 = pair[1].split("?");
            return pair1[0];
          }
          return pair[1];
        }
      }
      return (false);
    }

    function getQueryVariable(variable) {

      var query = window.location.href;
      var vars = query.split("/");

      for (var i = 0; i < vars.length; i++) {
        var pair = vars[i].split("=");
        if (pair[0] == variable) { return pair[1]; }
      }

      return (false);

    }

  </script>
</body>

</html>